---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroBanner from "../components/HeroBannerSimple.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Section from "fulldev-ui/components/Section.astro";
import StickyBanner from "../components/StickyBanner.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <HeroBanner title="FAQs" subtitle="Preguntas frecuentas">
      <p>
        En nuestra empresa sabemos que tomar decisiones sobre productos y
        servicios, como el hormigón impreso, pulido o vertical, puede generar
        dudas.
      </p>

      <p>
        Para facilitar tu experiencia y que encuentres las respuestas que
        necesitas rápidamente, hemos preparado una selección de las preguntas
        más frecuentes que recibimos sobre nuestros servicios, desde hormigón
        impreso hasta tematización con hormigón.
      </p>
    </HeroBanner>
    <div>
      <main>
        <Section>
          <p>
            En esta sección, podrás consultar información clara y detallada
            sobre nuestros productos, procesos de instalación, mantenimiento y
            garantías, tanto para el hormigón pulido como para nuestras opciones
            de hormigón vertical y tematización con hormigón.
          </p>

          <p>
            Nuestro objetivo es proporcionarte todo lo necesario para que tomes
            decisiones informadas y con confianza en nuestros servicios.
          </p>

          <p>
            Si no encuentras la respuesta que buscas, no dudes en contactarnos;
            estaremos encantados de resolver cualquier duda sobre nuestros
            productos y procesos.
          </p>
        </Section>
      </main>
      <StickyBanner />
    </div>
    <Footer />
  </body>
</html>
