---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroBanner from "../components/HeroBannerSimple.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Section from "fulldev-ui/components/Section.astro";
import StickyBanner from "../components/StickyBanner.astro";
import Accordion from "../components/Accordion.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <HeroBanner title="FAQs" subtitle="Preguntas frecuentas">
      <p>
        En nuestra empresa sabemos que tomar decisiones sobre productos y
        servicios, como el hormigón impreso, pulido o vertical, puede generar
        dudas.
      </p>

      <p>
        Para facilitar tu experiencia y que encuentres las respuestas que
        necesitas rápidamente, hemos preparado una selección de las preguntas
        más frecuentes que recibimos sobre nuestros servicios, desde hormigón
        impreso hasta tematización con hormigón.
      </p>
    </HeroBanner>
    <div>
      <main>
        <Section>
          <p>
            En esta sección, podrás consultar información clara y detallada
            sobre nuestros productos, procesos de instalación, mantenimiento y
            garantías, tanto para el hormigón pulido como para nuestras opciones
            de hormigón vertical y tematización con hormigón.
          </p>

          <p>
            Nuestro objetivo es proporcionarte todo lo necesario para que tomes
            decisiones informadas y con confianza en nuestros servicios.
          </p>

          <p>
            Si no encuentras la respuesta que buscas, no dudes en contactarnos;
            estaremos encantados de resolver cualquier duda sobre nuestros
            productos y procesos.
          </p>
        </Section>
        <Section>
          <Accordion
            name="question-1"
            title="¿Qué es el hormigón impreso y qué lo hace diferente de otros tipos de hormigón?"
          >
            <p>
              El hormigón impreso es un tipo de pavimento que se imprime con
              moldes para crear diseños decorativos que imitan materiales como
              piedra, ladrillo, madera, entre otros. Lo que lo diferencia de
              otros tipos de hormigón es su acabado estético y personalizable,
              que lo convierte en una opción muy popular para exteriores como
              patios, jardines y entradas. Además, es muy duradero y resistente.
            </p>
          </Accordion>
          <Accordion
            name="question-2"
            title="¿El hormigón impreso es resistente a las inclemencias del tiempo y al desgaste?"
          >
            <p>
              Sí, el hormigón impreso es altamente resistente a las inclemencias
              del tiempo. Gracias a su composición y sellado, puede soportar
              temperaturas extremas, lluvias y otros factores climáticos sin
              perder su apariencia o funcionalidad. Además, es resistente al
              desgaste y al tránsito de vehículos, lo que lo hace ideal para
              exteriores.
            </p>
          </Accordion>
          <Accordion
            name="question-3"
            title="¿Qué ventajas ofrece el hormigón pulido frente a otros acabados?"
          >
            <p>
              El hormigón pulido ofrece una superficie suave y brillante, lo que
              lo hace muy atractivo para interiores como almacenes, garajes,
              oficinas y viviendas modernas. Entre sus ventajas destacan la
              durabilidad, facilidad de limpieza, resistencia a manchas y su
              capacidad para reflejar la luz, lo que hace que los espacios se
              vean más amplios y luminosos.
            </p>
          </Accordion>
          <Accordion
            name="question-4"
            title="¿Es posible instalar hormigón pulido en exteriores o solo en interiores?"
          >
            <p>
              Aunque el hormigón pulido es más comúnmente utilizado en
              interiores debido a su acabado brillante y suave, también puede
              instalarse en exteriores si se utiliza el tratamiento adecuado
              para protegerlo de las inclemencias del tiempo. Es importante usar
              un sellador específico que garantice su durabilidad en espacios al
              aire libre.
            </p>
          </Accordion>
          <Accordion
            name="question-5"
            title="¿Cómo se realiza la instalación del hormigón vertical? ¿Requiere algún tipo de mantenimiento especial?"
          >
            <p>
              La instalación del hormigón vertical implica verter y moldear el
              hormigón sobre una superficie vertical utilizando moldes o paneles
              que definan la forma y textura. Este tipo de hormigón es ideal
              para paredes, fachadas y muros decorativos. En cuanto al
              mantenimiento, generalmente requiere limpieza periódica y, en
              algunos casos, un sellado adicional para evitar filtraciones o
              daños por humedad.
            </p>
          </Accordion>
          <Accordion
            name="question-5"
            title="¿Cuánto tiempo tarda en secar y curar el hormigón impreso después de la instalación?"
          >
            <p>
              El hormigón impreso generalmente tarda entre 24 y 48 horas en
              secar lo suficiente para poder caminar sobre él, pero el proceso
              de curado completo puede durar entre 7 y 28 días. Durante este
              tiempo, es importante mantener el área libre de tráfico pesado y
              proteger la superficie para garantizar que se obtenga la máxima
              resistencia.
            </p>
          </Accordion>
          <Accordion
            name="question-6"
            title="¿La tematización con hormigón es adecuada para proyectos residenciales y comerciales?"
          >
            <p>
              Sí, la tematización con hormigón es una opción versátil que se
              adapta a una amplia variedad de proyectos, tanto residenciales
              como comerciales. Se utiliza para crear ambientes personalizados y
              atractivos, como murales, fachadas temáticas, caminos decorativos,
              y más. Su resistencia y durabilidad lo hacen ideal para entornos
              tanto interiores como exteriores.
            </p>
          </Accordion>
          <Accordion
            name="question-7"
            title="¿Qué tipos de acabados y colores puedo elegir para el hormigón impreso y pulido?"
          >
            <p>
              Tanto el hormigón impreso como el hormigón pulido ofrecen una
              amplia variedad de acabados y colores. En el caso del hormigón
              impreso, puedes elegir entre diversos patrones que imitan
              materiales como piedra, ladrillo, madera o mármol. Para el
              hormigón pulido, puedes seleccionar acabados de brillo mate o alto
              brillo, además de una variedad de colores que se adaptan a tu
              estilo o necesidades del proyecto.
            </p>
          </Accordion>
          <Accordion
            name="question-8"
            title="¿El hormigón impreso es apto para zonas con mucho tránsito o vehículos pesados?"
          >
            <p>
              Sí, el hormigón impreso es perfectamente apto para zonas con mucho
              tránsito o vehículos pesados, siempre que se realice una
              instalación adecuada. Con un correcto sellado y refuerzo, este
              tipo de pavimento puede soportar la carga de vehículos pesados,
              como camiones o maquinaria, sin deteriorarse rápidamente.
            </p>
          </Accordion>
          <Accordion
            name="question-9"
            title="¿Cuál es la durabilidad del hormigón vertical y es fácil de mantener?"
          >
            <p>
              El hormigón vertical es muy duradero y resistente a las
              condiciones climáticas, el paso del tiempo y el desgaste. Su
              mantenimiento es sencillo, ya que solo requiere limpieza periódica
              y, en algunos casos, la aplicación de selladores para protegerlo
              de la humedad o las manchas. En general, su durabilidad y baja
              necesidad de mantenimiento lo convierten en una opción atractiva.
            </p>
          </Accordion>
          <Accordion
            name="question-10"
            title="¿Cómo se realiza la tematización con hormigón en superficies irregulares o complejas?"
          >
            <p>
              La tematización con hormigón en superficies irregulares o
              complejas requiere un enfoque personalizado. Utilizando moldes
              flexibles, paneles especiales y técnicas de vertido controlado, se
              pueden crear acabados decorativos que se adapten a formas y
              superficies irregulares. Es fundamental contar con un equipo
              experimentado que sepa cómo trabajar con estas características
              para garantizar un resultado profesional.
            </p>
          </Accordion>
          <Accordion
            name="question-11"
            title="¿El hormigón pulido es antideslizante? ¿Es seguro para zonas como piscinas o baños?"
          >
            <p>
              El hormigón pulido puede ser antideslizante si se aplica un
              tratamiento adicional en su superficie, como un agregado rugoso o
              un sellador antideslizante. Esto es especialmente importante en
              zonas húmedas como piscinas, baños o áreas exteriores expuestas a
              la lluvia. Si no se aplica un tratamiento adecuado, la superficie
              puede ser resbaladiza, por lo que es esencial asegurarse de que se
              tomen las precauciones necesarias.
            </p>
          </Accordion>
          <Accordion
            name="question-12"
            title="¿Cómo se realiza la instalación del hormigón vertical? ¿Requiere algún tipo de mantenimiento especial?"
          >
            <p>
              La instalación del hormigón vertical implica verter y moldear el
              hormigón sobre una superficie vertical utilizando moldes o paneles
              que definan la forma y textura. Este tipo de hormigón es ideal
              para paredes, fachadas y muros decorativos. En cuanto al
              mantenimiento, generalmente requiere limpieza periódica y, en
              algunos casos, un sellado adicional para evitar filtraciones o
              daños por humedad.
            </p>
          </Accordion>
        </Section>
      </main>
      <StickyBanner />
    </div>
    <Footer />
  </body>
</html>
