---
const today = new Date();
import Heading from "fulldev-ui/components/Heading.astro";
import Section from "fulldev-ui/components/Section.astro";
---

<Section as="footer">
  <div class="footer-columns">
    <div class="footer-column footer-column-expanded">
      <Heading level={1} as="p">
        Realizamos todo tipo de acabados y personalización de espacios
      </Heading>
    </div>
    <div class="footer-column">
      <Heading level={4}> Encuéntranos en </Heading>
      <ul>
        <li>Sevilla</li>
        <li>Huelva</li>
        <li>Cádiz</li>
        <li>Córdoba</li>
      </ul>
    </div>
    <div class="footer-column">
      <Heading level={4}> Contacta con nosotros </Heading>
      <ul>
        <li>
          Teléfono - <a href="tel:+34641434996" target="_blank">641 43 49 96</a>
        </li>
        <li>
          Email - <a
            href="mailto:info@hormigonimpresosevilla.es"
            target="_blank">info@hormigonimpresosevilla.es</a
          >
        </li>
        <li>
          WhatsApp - <a href="https://wa.me/34641434996" target="_blank"
            >Enviar mensaje</a
          >
        </li>
      </ul>
    </div>
  </div>
  <p class="copyright">
    &copy; {today.getFullYear()} Hormigón Impreso Sevilla. All rights reserved.
  </p>
</Section>

<style>
  footer {
    padding: 2em 1em 2em 1em;
    background-color: rgb(20, 20, 20);
    text-align: center;
  }
  .footer-columns {
    margin: auto;
    display: flex;
    gap: 1em;
    margin-block: 1em;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
  }

  .footer-column {
    flex: 1;
    text-align: start;
    min-width: 300px;
  }

  .footer-column ul {
    margin: 0;
    padding: 0;
  }

  .footer-column h4,
  .footer-column li,
  .footer-column p {
    color: rgb(212, 212, 212);
    list-style: none;
  }

  .footer-column-expanded {
    flex: 2;
  }
  .copyright {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: rgb(167, 164, 164);
  }
</style>
