---
import Menu from "./Menu.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2>
      <a href="/">
        <img
          class="logotype"
          src="/images/hormigon-impreso-sevilla-logotipo.png"
          alt={SITE_TITLE}
        />
      </a>
    </h2>
    <Menu />
  </nav>
</header>
<style>
  header {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 0.5em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
    width: 158px;
    height: 48px;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  h2 .logotype {
    margin: auto;
    max-height: 3rem;
  }
  nav {
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
