---
import Heading from "fulldev-ui/components/Heading.astro";
import "swiper/css";
import "swiper/css/navigation";
---

<div class="swiper">
  <section class="swiper-slide"></section>
  <section class="hero-content">
    <div class="hero-content-content">
      <Heading level={1}>Hormigón impreso y pulido en Sevilla</Heading>
      <Heading level={2}>Durabilidad y estilo para tus espacios</Heading>
      <p>
        Especialistas en hormigón impreso y pulido, transformamos tus
        superficies en obras únicas, resistentes y elegantes. Soluciones
        personalizadas para exteriores e interiores con acabados de alta
        calidad.
      </p>
    </div>
  </section>
</div>

<style>
  .swiper {
    position: relative;
    width: 100%;
  }
  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    /* background: url("/images/home/hero/hormigon-impreso-en-sevilla.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: exclusion;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
    opacity: 0.5;
  }

  .swiper .hero-content {
    position: absolute;
    top: 0;
    left: auto;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }

  .swiper .hero-content-content {
    max-width: 650px;
    padding: 1rem;
  }

  .swiper .hero-content p,
  .swiper .hero-content h1,
  .swiper .hero-content h2 {
    color: #040404;
  }
</style>
